{% extends 'base.html' %}


{% block title %}Ofertas{% endblock %}

{% block content %}
<section class="ofertas">
  <h2 class="titulo-secao">Ofertas do dia</h2>
  <div class="cards-container">
    {% if ofertas %}
    {% for oferta in ofertas %}
      <div class="card">
        <h3>Supermercado {{ oferta.nome_supermercado }}</h3>
        <p>{{ oferta.produtos_em_promocao }}</p>
        <a href="{% url 'detalhamento' id=oferta.id%}" class="botao-ver-ofertas">Ver ofertas</a>
      </div>
    {% endfor %}
    {% else %}
    <p>Nenhuma oferta disponível</p>
    {% endif %}
  </div> 
  
</section>
{% endblock %}
