{% extends 'usuarios/login.html' %}

{% block title %}Página de Cadastro{% endblock %}

{% block heading %}<h2>Faça seu cadastro</h2>{% endblock %}

{% block subtext %}<p>Insira suas informações e cadastre-se</p>{% endblock %}

{% block form %}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
<form action="{% url 'cadastro' %}" method="POST">
    {% csrf_token %} <!-- Token de segurança -->
    {{ form.as_p }}
    <!-- O atributo name é importante para ser usado na view, para pegar o valor -->
    <button type="submit" value="entrar">Criar conta</button>
</form>
{% endblock %}