{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/usuarios/style.css' %}">
    <title>{% block title %}Página de Login{% endblock %}</title>
</head>
<body>
    <div class="container">
        <div class="imagem-login"></div>
        <div class="container-form">
            {% block heading %}<h2>Bem-vindo de volta</h2>{% endblock %}
            {% block subtext %}<p>Preencha os campos e <span class="paragrafo-detalhe">acesse sua conta</span></p>{% endblock %}
            {% block form %}

                {% if messages %}
                    <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %} <!-- Token de segurança -->
                <input type="text" id="user" name="user" placeholder="Digite seu usuário">
                <input type="password" id="senha" name="password" placeholder="Digite sua senha">
                <button type="submit" value="entrar">Entrar</button>
                <p class="ou-criar-conta">Ou</p>
                <a href="{%  url 'cadastro' %}" class="botao-criar-conta">Criar conta</a>
            </form>
            {% endblock %}
        </div>
    </div>
</body>
</html>