/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header/menu principal */
.menu {
    background-color: rgb(255, 60, 26);
    padding: 30px 40px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra leve pro destaque */
}

/* Agrupamento de boas-vindas e menu */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Mensagem de boas-vindas */
.boas-vindas {
    color: #f4f4f4;
    font-weight: 600;
    font-size: 22px;
}

.boas-vindas-destaque{
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 210, 210);
}

/* Lista de links do menu */
.menu-links {
    list-style: none;
    display: flex;
    gap: 80px;
}

/* Estilo individual dos links */
.menu-links li a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
}

.menu-links li a:hover {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 10px;
    color: rgb(227, 44, 11);
    font-weight: 600;
    
}

/* Personalização do rodapé */
.rodape {
    background: #1a1a1a;
    padding: 30px 40px;
    border-top: 2px solid rgb(255, 60, 26);
}

/* Container centralizado */
.rodape-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Texto centralizado */
.direitos {
    color: #f4f4f4;
    font-size: 14px;
    font-weight: 300;
}

/* Lista de links */
.footer-links {
    list-style: none;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

/* Estilo dos links */
.footer-links li a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 400;
    font-size: 14px;
    transition: color 0.3s ease;
}

/* Após passar o mouse */
.footer-links li a:hover {
    color: rgb(255, 60, 26);
}

/* Estilização dos cards de ofertas */
.ofertas {
    padding: 50px;
}

.titulo-secao{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 10px;
    background-color: #1a222b;
    padding: 25px;
    border-radius: 15px;
}

.ola-nome{
    color: rgb(255, 60, 26); 
    text-align: center; 
    margin-top: 60px; 
    font-size: 48px;
}



.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
}

.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    width: calc((100% - 60px) / 3); 
    box-sizing: border-box; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.card h3 {
    color: rgb(255, 60, 26);
    margin-bottom: 10px;
    margin-top: 10px;
}

.card p {
    margin-bottom: 10px;
    color: #1a1a1a;
    font-style: italic;
}

.botao-ver-ofertas {
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(255, 60, 26);
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.botao-ver-ofertas:hover{
    background-color: #fff;
    color: rgb(255, 60, 26);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container-detalhe {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-detalhes {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 10px;
    border-radius: 20px;
    background-color: rgb(255, 60, 26);
    padding: 80px;
    width: 700px;
    font-size: 18px;
}

.card-detalhes h2 {
    background-color: #fff;
    color: rgb(255, 60, 26);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    width: 100%;
    transition: all 0.3s ease;
}

.card-detalhes h2:hover{
    background: rgb(255, 60, 26);
    color: #fff;
}

.paragrafos-detalhes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 70px;
}

.lista-info {
    
    color: #fff; /* opcional: cor dos textos */
    list-style-position: inside; /* bullets dentro da área do texto */
}

.lista-info li{
    margin-bottom: 15px;
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
    
}
