{% extends 'base.html' %}

{% load static %}

{% block extra_css %} <link rel="stylesheet" href="{% static 'css/listas/criar_listas.css' %}"> {% endblock %}

{% block title %}Criar Lista{% endblock %}

{% block titulo_pag %}<p class="boas-vindas">Lista de Compras</p>{% endblock %}

{% block content %}

  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <div class="criar-lista-container">
    <div class="criar-lista-form">
      <h2>Editar Lista de Compras</h2>
      <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Item 1 -->
        <input type="hidden" name="id_item1" value="{{ item1.id }}">
        <label for="id_item_1">Item:</label>
        <input type="text" name="item_1" id="id_item_1" required value="{{ item1.nome_item }}">

        <label for="id_qtd_1">Quantidade:</label>
        <input type="number" name="qtd_1" id="id_qtd_1" min="1" value="{{ item1.quantidade }}" required>

        <!-- Item 2 -->
        <input type="hidden" name="id_item2" value="{{ item2.id }}">
        <label for="id_item_2">Item:</label>
        <input type="text" name="item_2" id="id_item_2" value="{{ item2.nome_item }}">

        <label for="id_qtd_2">Quantidade:</label>
        <input type="number" name="qtd_2" id="id_qtd_2" min="1" value="{{ item2.quantidade }}">


        <button type="submit">Salvar</button>
      </form>
    </div>
  </div>
{% endblock %}